@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
}

.logo .logo-header {
  color: #2e2f42;
}

.nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
  margin: 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  float: right;
}

.contact-info:hover,
.contact-info:focus {
  color: #404bbf;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.address {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  list-style: none;
}

.address:hover,
.address:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero .container {
  display: block;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.cta-button {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 48px auto;
}

.cta-button:hover,
.cta-button:focus {
  background-color: #404bbf;
}

.features {
  color: #434455;
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
}

.features-list li {
  flex-basis: calc((100% - 72px) / 4);
  box-sizing: border-box;
}

.features .container {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
  color: #434455;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team .container {
  display: block;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
}

.team-list li {
  flex-basis: calc((100% - 72px) / 4);
  box-sizing: border-box;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-employers {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-role {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  color: #434455;
}

.portfolio .container {
  display: block;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

.portfolio-list li {
  width: calc((100% - 48px) / 3); 
  box-sizing: border-box;
}

.portfolio-item {
  background-color: #ffffff;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
  color: #f4f4fd;
  text-align: left;
}

.footer .container {
  flex-direction: column;
  align-items: right;
}

.footer-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo-footer {
  color: #f4f4fd;
}
